<h2>Create New Landmark</h2>

<!-- add content here -->
<form action="/figures" method="POST">
  <label for="figure_name">Name</label>
  <input type="text" name="figure[name]" id="figure_name">
  
  <label>Titles</label>
  <% @titles.each do |title| %>
    <label><%= title.name %></label>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>">
  <% end %>
  
  <label>Create New Title:</label>
  <input type="text" name="title[name]" id="new_title">
  


<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
