<h2>Create New Landmark</h2>

<!-- add content here -->
<form action="/landmarks" method="POST">
  <label for="landmark_name">Name</label>
  <input type="text" name="landmark[name]" id="name">
  
  <label for="landmark_year_completed">Year Completed</label>
  <input type="text" name="landmark[year_completed]" id="year_completed">
  
  <input type="submit" value="Create New Landmark">
</form>


<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
