<h2>Create New Landmark</h2>

<!-- add content here -->
<form action="/landmarks" method="POST">
  <label for="landmark_name">Name</label>
  <input type="text" name="landmark[name]" id="landmark_name">
  
  <label for="landmark_year_completed">Year Completed</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  
  <label>Figure</label>
  <% @figures.each do |figure| %>
    <label><%= figure.name %></label>
    <input type="radio" name="landmark[figure_id]" id="<%= figure.id %>" value="<%= figure.id %>">
  <% end %>
  
  <label>Create New Figure:</label>
  <input type="text" name="figure[name]" id="new_figure">
  
  <input type="submit" value="Create New Landmark">
</form>


<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
