<form action="/figures" method="post">
  <label for="figure_name">Name</label>
  <input type="text" name="figure[name]" id="figure_name">
  
  <label for="titles">Titles</label>
  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.name %>">
  <% end %>
  
  <label for="title_name">Create New Title:</label>
  <input type="text" name="title[name]" id="title_name">
  
  <label for="landmarks">Landmarks</label>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.name %>">
  <% end %>
  
  <label for="landmark_name">Create New Landmark:</label>
  Name: <input type="text" name="landmark[name]" id="landmark_name">
  Year: <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  
  <input type="submit" value="Create New Figure">
</form>