<form action="/figures" method="post">
  <label for="figure_name">Name</label>
  <input type="text" name="figure[name]" id="figure_name">
  
  <label for="titles">Titles</label>
  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.name %>">
  <% end %>
  
  <label><h4>Create New Title:</h4></label>
  <input type="text" id="new_title" name="title[name]">
  
  <label for="landmarks">Landmarks</label>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.name %>">
  <% end %>
  
 <label><h4>Create New Landmark:</h4></label>
 <label>Name:</label>
  <input type="text" id="new_landmark" name="landmark[name]">
  <label>Year:</label>
  <input type="text" name="landmark[year_completed]">
  
  <input type="submit" value="Create New Figure">
</form>

