<%= @figure.name %>

Titles:
<ul>
  <% @figure.titles.each do |title| %>
  <li><%= title.name %></li>
</ul>

Landmarks:
<ul>
  <% @figure.landmarks.each do |landmark| %>
  <li><%= landmark.name %></li>
</ul>